body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainerDuck{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.contentContainer{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.buttonContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.textMain{
  text-align: justify;
}

.textDuck{
  text-align: center;
}

.buttonMargin{
  margin-left: 5px;
  margin-right: 5px;
}

.imageAlign{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}
.imageAlign:hover{
  transform: scale(1.2);
}

.duckRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

.pondRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

.pond{
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}
.feather{
  position: absolute;
  top: 180px;
  right: 50;
  z-index: 2;
}

.feather:hover{ 
  animation: pulse 2s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}